<div class="h-full  border-b-2 px-4 flex justify-between items-center">
    <div class="w-[30%] flex items-center">
        <%= link_to root_path do %>
            <%= image_tag "logo.svg",class:"h-9" %>
        <%end%>
        <span class="pl-2 text-[2rem] font-semibold">
        <%= link_to root_path do %>
           LEARNO
        <%end%>
        </span>
    </div>
    <div class="w-[70%] flex justify-between">
        <div>
            search
        </div>
        <div>
            <% if !user_signed_in? %>
            <p class="py-1 px-3 text-center rounded text-white bg-blue-500"><%= link_to "Login", new_user_session_path%></p>
            <%else%>
                <p class="py-1 px-3 text-center text-white rounded bg-blue-500"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %></p>
            <%end%>
        </div>
    </div>
</div>