<div class="w-full h-full flex justify-between">
    <div class="w-[70%] h-full overflow-auto  overflow-auto 
                        [&::-webkit-scrollbar]:w-2
                        [&::-webkit-scrollbar-track]:rounded-full
                        [&::-webkit-scrollbar-track]:bg-gray-100
                        [&::-webkit-scrollbar-thumb]:rounded-full
                        [&::-webkit-scrollbar-thumb]:bg-gray-300
                        dark:[&::-webkit-scrollbar-track]:bg-neutral-700
                        dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
       <div class="container mx-auto pt-4 px-4">
        <div class="w-[70%] h-[50%]">
            <%= image_tag @course.thumbnail, class:"h-full w-full rounded-sm" %>
        </div>
        <h2 class="text-2xl font-bold py-3"><%= @course.title %></h2>
        <div>
            <h3 class="font-bold py-2">Course description</h3>
            <p class="mt-4"><%= @course.description%></p>
        </div>
        <div>
            <h3 class="font-bold py-2">Course Content</h3>
            <p class="mt-4"><%= @course.course_content%></p>
        </div>
        <div class="w-full flex justify-ceneter items-center py-2">
            <p ><%= button_to "Enroll",action: "enrolled",form_class:"w-full text-center mx-8 py-2 bg-blue-500 text-white rounded-lg transition-all ease-in cursor-pointer hover:scale-105"%></p>
            <p><%= link_to 'Back', 'javascript:history.go(-1);', class:"h-8 flex justify-center text-white items-center px-5 hover:bg-gray-300 cursor-pointer inline-block bg-gray-800 rounded"%></p>
        </div>
    </div>
        
    </div>
    <div class="w-[30%] border-l h-full">
        <div class="h-full flex flex-col justify-between  py-3 ">
            <div class="flex flex-col ">
                <p class="py-4 text-center">Chapter List</p>
                <% @course.chapters.each do |chapter|%>
                    <p class="pl-3 bg-gray-100 my-1 mx-2 rounded-sm cursor-pointer ">
                        <%=chapter.title%></p>
                <%end%>
            </div>
        </div>
    </div>
</div>