<div data-controller="chapter">
     <div class="w-screen h-screen">
       <div class="h-[10%] w-full border-b flex items-center">
            <div class="w-full  flex justify-between items-center px-4">
                <%= link_to root_path do %>
                    <p>Home</p>
                <%end%>
                <div class="flex gap-6">
                    <%= link_to  forume_forume_path(@course.forume) do %>
                        <p class="py-1 px-3 bg-blue-500 text-white rounded-lg tex-sm cursor-pointer">Forume</p>
                    <%end%>
                    <%= link_to 'Back', 'javascript:history.go(-1);', class:"py-1 px-3 bg-blue-500 text-white rounded-lg tex-sm cursor-pointer"%>
                    <%=current_user.email%>
                </div>
            </div>
       </div>
       <div class="h-[90%] flex">
            <div class="w-[20%] border-r">
                <%@course.chapters.order(:created_at).each do |chapter|%>
                    <p data-action="click->chapter#action" id="chapter_<%=chapter.id%>" class="cursor-pointer text-lg p-2 hover:bg-gray-400 "><%=chapter.title%></p>
                <%end%>
            </div>
            <div class="w-[80%] h-full">
                <div data-chapter-target="welcome" class="h-full w-full flex justify-center items-center">
                    <p class="text-center text-lg">Wellcome to Course please Click chpater to start learning</p>
                </div>
                <div class="h-full w-full hidden" data-chapter-target="load">
                </div>
            </div>
       </div>
    </div>
</div>