<div class="h-full flex flex-col justify-center items-center">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field py-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Enter your email...", class:"h-8 rounded focus:outline-0 border placeholder:text-sm pl-2"  %>
    </div>

    <div class="actions flex justify-center items-center">
      <%= f.submit "Send me reset password instructions",class:"text-sm p-2 rounded-lg cursor-pointer text-white py-2 bg-blue-500 rounded-sm" %>
    </div>
  <% end %>

  <div class="flex flex-col justify-start pt-4"><%= render "devise/shared/links" %></div>
</div>