<div class="w-full h-full relative flex flex-col justify-between">
    <div>
        <div class="w-full py-2">
            <div class="flex justify-evenly items-center overflow-hidden relative">  
            <p class="absolute left-0 text-2xl cursor-pointer"><</p>
                <div class="flex px-4">
                <%if Category.all&.any?%>
                    <%Category.all.each do |category|%>
                        <%= link_to filter_path category do %>
                            <div class="px-1">
                                <p class="px-2 bg-gray-100 rounded-lg cursor-pointer text-gray-800 whitespace-nowrap hover:bg-gray-800 hover:text-white <%="bg-gray-800 text-white"  if @category&.id == category.id %>"><%= category.name%></p>
                            </div>
                        <%end%>
                    <%end%>
                <%end%>
                </div>
            <p class="absolute right-0 text-2xl cursor-pointer">></p>
            </div>
        </div>
        <div class="px-5 pt-5 flex flex-wrap gap-5">
            <%unless @courses&.empty? %>
                <%@courses.each do |course|%>
                    <%= link_to student_path(course) do %>
                        <%= render "components/course",course: course %>
                    <%end%>
                <%end%>
            <%else%>
                <p class="text-center w-full h-full">Don't Have any coure yet</p>
            <%end%>
        </div>
    </div>
    <div class="flex justify-center items-center h-8"><%== pagy_nav(@pagy) %></div>
</div>