<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Udemy Clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="h-screen w-screen">
    <div>
      <div class="w-screen h-screen flex">
              <div class="w-[20%] border-r-2 flex flex-col justify-between  ">
                  <div class=" flex flex-col justify-between">
                    <div class=" flex  pb-[4rem] pt-[1rem]">
                        <%= link_to root_path do %>
                            <%= image_tag "logo.svg",class:"h-9" %>
                        <%end%>
                        <span class="pl-2 text-[2rem] font-semibold">
                          <%= link_to root_path do %>
                            LEARNO
                          <%end%>
                        </span>
                    </div>
                    <div class="flex flex-col ml-4">
                      <div class="py-2 px-4 inline-block hover:bg-gray-100 rounded-lg">
                        <%= link_to "My Learning", student_my_learning_path%>
                      </div>
                      <div class="py-2 px-4 inline-block hover:bg-gray-100 rounded-lg">
                        <%= link_to "Transaction History", student_transaction_history_path%>
                      </div>
                      <div class="py-2 px-4 inline-block hover:bg-gray-100 rounded-lg">
                        <%= link_to "Forume", student_my_learning_path%>
                      </div>
                      <div class="py-2 px-4 inline-block hover:bg-gray-100 rounded-lg">
                        <%= link_to "DashBoard", student_dashboard_path%>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-start p-3">
                    <p class="py-1 px-3 text-center text-white rounded bg-blue-500"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %></p>
                  </div>
              </div>
              <div class="h-screen justify-center items-center w-[80%] overflow-auto ">
                  <%= yield %>
              </div>
          </div>
      </div>
    </main>
  </body>
</html>
